@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
:root{
  --accent-color: purple;
  --base-color: white;
  --text-color: black;
  --input-color: white;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: "DM Serif Text", serif;
  font-size: 12pt;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}
body{
  min-height: 100vh;
  background-image: url('Oldie-Helper.png');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
